OUT_CSV_MAPDATA_BAYAREA_SANTA_CRUZ_V1.CSV
OUT_CSV_MAPDATA_CENTRAL_COAST_V1.CSV
OUT_CSV_MAPDATA_CENTRAL_VALLEY_V1.CSV
OUT_CSV_MAPDATA_SACRAMENTO_REGION_V1.CSV
OUT_CSV_MAPDATA_SOUTH_COAST_V1.CSV
bay-area-santa-cruz.xlsx
central-coast-xlsx
inland-empire.xlsx
sacramento-region.xlsx
south-coast.xlsx
bayarea-santa-cruz.ipynb
central-coast.ipynb
central-valley.ipynb
inland-empire.ipynb
sacramento-region.ipynb
south-coast.ipynb